.offer {
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
}

.offer-pictures {
  img {
    width: 200px;
    height: auto;
  }
}

.offer-details {
  height: 100%;
  padding: 20px;
  border-radius: 4px;

  color: #757575;
  background-color: #ffffff;

  .offer-details-list {
    border-top: solid 1px #f2f2f2;
  }
}
