#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 60px;
    height: auto;
    margin-right: 30px;
  }
}

.tv-item {
  margin: 20px 0;
}
