body {
  font-family: "Nintendo U", sans-serif;
}

.pokemon-container {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
}

.pokemon-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: solid 2px black;
  border-radius: 8px;
  padding: 16px;
  margin: 8px;
  img {
    max-width: 96px;
    height: auto;
  }
}
