.testClass {
  background-color: lightgrey;
  color: black;
  padding: 12px;
  max-width: 600px;
  margin-bottom: 20px;

  h1 {
    font-size: 20px;
    font-weight: bold;
  }
  p {
    margin-top: 12px;
    font-size: 14px;
  }
}
